<form (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name:</label>
      <input [(ngModel)]="contact.name" name="name" id="name" placeholder="Enter Name" required />
    </div>
  
    <div>
      <label for="email">Email:</label>
      <input [(ngModel)]="contact.email" name="email" id="email" placeholder="Enter Email" required />
    </div>
  
    <div>
      <label for="phone">Phone:</label>
      <input [(ngModel)]="contact.phone" name="phone" id="phone" placeholder="Enter Phone Number" required />
    </div>
  
    <div>
      <label for="address">Address:</label>
      <input [(ngModel)]="contact.address" name="address" id="address" placeholder="Enter Address" />
    </div>
  
    <div>
      <label for="department">Department:</label>
      <input [(ngModel)]="contact.department" name="department" id="department" placeholder="Enter Department" required />
    </div>
  
    <div>
      <label for="designation">Designation:</label>
      <input [(ngModel)]="contact.designation" name="designation" id="designation" placeholder="Enter Designation" required />
    </div>
    
 

<div>
  <label for="identificationNumber">Identification Number:</label>
  <input [(ngModel)]="contact.identificationNumber" name="identificationNumber" id="identificationNumber" placeholder="Enter ID Number" required />
</div>
<label>
  Twitter:
  <input type="text" [(ngModel)]="contact.socialMediaLinks.twitter" name="twitter" />
</label>
<br />
<label>
  LinkedIn:
  <input type="text" [(ngModel)]="contact.socialMediaLinks.linkedin" name="linkedin" />
</label>


<!-- Previous Visits -->
<div>
  <h4>previous Visits:</h4>
  <div *ngFor="let visit of contact.previousVisits; let i = index">
    <input type="date" [(ngModel)]="visit.date" [name]="'visitDate' + i" />
    <input type="text" [(ngModel)]="visit.purpose" [name]="'visitPurpose' + i" />
  </div>
  <button type="button" (click)="addPreviousVisit()">Add Previous Visit</button>
</div>

<div>
  <label for="profilePicFile">Upload Profile Picture:</label>
  <input type="file" (change)="onFileSelected($event)" name="profilePicFile" id="profilePicFile" />
</div>
<div>
  <label for="discussion">Discussion:</label>
  <textarea
    [(ngModel)]="contact.discussion"
    name="discussion"
    id="discussion"
    placeholder="Enter discussion details..."
    rows="5"
    cols="50"
    required>
  </textarea>
</div>

  
    <button type="submit">Add Contact</button>
  
    <!-- Success Message -->
    <div *ngIf="isSuccess" class="success-message">
      <p>Contact added successfully!</p>
    </div>
  
    <!-- Error Message -->
    <div *ngIf="errorMessage" class="error-message">
      <p>{{ errorMessage }}</p>
    </div>
  </form>
  